.hero-banner {
  width: 100%;              /* banner width */
  height: 200px;            /* banner height */
  object-fit: contain;      /* scales full image inside */
  background: #000;      /* background fill */
}

.navbar {
  box-shadow: 0 2px 8px rgba(0,0,0,.25);
  border-top: 4px solid var(--bs-info);     /* accent */
}

.event-card .row { align-items: center; }

.event-thumb {
  max-width: 100%; /* sizes image to container scale */
  height: 220px;
  object-fit: contain; /* no crop */
  display: block;
  border-radius:.25rem;
  background: rgba(255,255,255,.06);
}

.location-thumb {
  max-width: 100%;
  height: 350px;
  object-fit: cover;    /* fills box + crops edges */
  display: block;
}

.btn-primary {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  border: none;
  color: white;
}
.btn-primary:hover {
  background: linear-gradient(45deg, #0072ff, #00c6ff);
}

.accordion {
  max-width: 1000px;
  margin: 0 auto;     /* center alignment */
}

.accordion-button {
  border: 0px solid var(--bs-warning);
  box-shadow: 0 0 10px var(--bs-warning);
}

.accordion-button:not(.collapsed) {
  background-color: #1a0033;
  color: var(--bs-warning);
  box-shadow: 0 0 15px #00ffff;
}

.accordion-button.collapsed {
  background-color: #0f001a;
  color:rgb(97, 248, 241);
}

.about-us {
  background-color: rgba(255, 255, 255, 0.05); 
  padding: 1.5rem;
  margin-bottom: 2rem;
}
